<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <nav>
            <div class="trigger">
                {%- assign pages = site.pages | sort: 'path' -%} 
                {%- assign default_paths = site.pages | map: "path" -%}
                {%- assign page_paths = site.header_pages | default: default_paths -%}
                <ul>
                    {%- for page in pages -%}
                    <li><a class="page-link" href="{{ page.url }}">{%- if page.title -%}{{ page.title }}{%- else -%}{{ page.path }}{%- endif -%}</a></li>
                    {%- endfor -%}
                </ul>
            </div>
            <p>このページのソースは <a href="https://github.com/KenjiOhtsuka/note{{ page.path }}">GitHub note{{ page.path }}</a> にあります。</p>
            <p>このサイトは <a href="https://github.com/KenjiOhtsuka/note/">GitHub: note</a> で管理されています。 連絡があれば <a href="https://github.com/KenjiOhtsuka/note/issues">GitHub: note: Issues</a> よりお願いします。 情報不足あれば Contribute お願いします。</p>
        </nav>
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- else -%}
                        {{ site.title | escape }}
                        {%- endif -%}
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>
            <div class="footer-col footer-col-3">
                <p>{{- site.description | escape -}}</p>
            </div>
        </div>
    </div>
</footer>
