<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <nav>
            <div class="trigger">
                {%- assign pages = site.pages | sort: 'path' -%}
                {%- assign default_paths = site.pages | map: "path" -%}
                {%- assign page_paths = site.header_pages | default: default_paths -%}
                {%- assign p1_parts = Nil -%}
                {%- assign p2_parts = Nil -%}
                <ul>
                    {%- assign page_size = pages.size -%}
                    {%- for page in pages -%}
                        {%- if forloop.first -%}
                            {%- assign p1_parts = parts -%}
                            {%- assign p1_page = page -%}
                            {%- assign p1_size = p1_parts.size -%}
                            {%- continue -%}
                        {%- endif -%}
                        {%- assign parts = page.path | split: '/' -%}
                        {%- assign size = parts.size -%}
                        {%- assign n = p1_parts.size | minus: 1 -%}
                        {%- for i in (0..n) -%}
                            {%- if i < n -%}
                                {%- if p2_parts != Nil and i < p2_size and p2_parts[i] == p1_parts[i] -%}
                                    {%- continue -%}
                                {%- endif -%}
                                <li>
                                    {{ p1_parts[i] }}
                                    <ul>
                            {%- else -%}
                                <li>
                                    <a class="page-link" href="/note{{ p1_page.url }}">{%- if p1_page.title -%}{{ p1_page.title }}{%- else -%}{{ p1_parts[i] }}{%- endif -%}</a>
                            {%- endif -%}
                        {%- endfor -%}
                        {%- for i in (0..n) -%}
                            {%- if i < n -%}
                                {%- if i < size and p1_parts[i] == parts[i] -%}
                                    {%- continue -%}
                                {%- endif -%}
                                    </ul>
                                </li>
                            {%- else -%}
                                </li>
                            {%- endif -%}
                        {%- endfor -%}
                        {%- if forloop.last -%}
                            {%- assign n = parts.size | minus: 1 -%}
                            {%- for i in (0..n) -%}
                                {%- if i < n -%}
                                    {%- if p1_parts != Nil and i < p1_size and parts[i] == p1_parts[i] -%}
                                       {%- continue -%}
                                    {%- endif -%}
                                    <li>
                                        {{ parts[i] }}
                                        <ul>
                                {%- else -%}
                                    <li>
                                        <a class="page-link" href="/note{{ page.url }}">{%- if page.title -%}{{ page.title }}{%- else -%}{{ parts[i] }}{%- endif -%}</a>
                                {%- endif -%}
                            {%- endfor -%}
                            {%- for i in (0..n) -%}
                                {%- if i < n -%}
                                    </ul>
                                {%- endif -%}
                                </li>
                            {%- endfor -%}
                        {%- endif -%}
                        {%- assign p2_parts = p1_parts -%}
                        {%- assign p2_page  = p1_page  -%}
                        {%- assign p2_size  = p1_size  -%}
                        {%- assign p1_parts = parts    -%}
                        {%- assign p1_page  = page     -%}
                        {%- assign p1_size  = size     -%}
                    {%- endfor -%}
                </ul>
            </div>
            <p>このページのソースは <a href="https://github.com/KenjiOhtsuka/note/blob/master/{{ page.path }}">GitHub note</a> にあります。</p>
            <p>このサイトは <a href="https://github.com/KenjiOhtsuka/note/">GitHub: note</a> で管理されています。 連絡があれば <a href="https://github.com/KenjiOhtsuka/note/issues">GitHub: note: Issues</a> よりお願いします。</p>
        </nav>
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- else -%}
                        {{ site.title | escape }}
                        {%- endif -%}
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>
            <div class="footer-col footer-col-3">
                <p>{{- site.description | escape -}}</p>
            </div>
        </div>
    </div>
</footer>
