<!-- This is page template -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head_ex.html -%}
    <body>
        {%- include header.html -%}
        <aside>
            <div style="text-align:center;">
                <script src="//adm.shinobi.jp/s/0b9802c86ff043840aefd09daaea9a30"></script>
            </div>
        </aside>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        <aside>
            <div style="text-align:center;">
                <script src="//adm.shinobi.jp/s/bce14cde4bc76ea26acaf0cb8caeb0a4"></script>
            </div>
        </aside>
        {%- include footer.html -%}
    </body>
</html>
