<!-- This is page template -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head_ex.html -%}
    <body>
        {%- include header.html -%}
        <aside>
            <div style="text-align:center;">
                <a href="https://hb.afl.rakuten.co.jp/hsc/12127824.ed730519.14ed6002.d086a466/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjoxLCJjYXQiOiI1OCIsImJhbiI6OTI4NDk1LCJhbXAiOmZhbHNlfQ%3D%3D" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hsb/12127824.ed730519.14ed6002.d086a466/?me_id=1&me_adv_id=928495&t=pict" border="0" style="margin:2px" alt="" title=""></a>
            </div>
        </aside>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        <aside>
            <div style="text-align:center;">
                <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="05d97e92.20c6b886.07097bf2.3251e7c2";rakuten_items="ctsmatch";rakuten_genreId="0";rakuten_size="300x250";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="on";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1693313509643";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js?20230106"></script>
            </div>
        </aside>
        {%- include footer.html -%}
    </body>
</html>
