<!-- This is page template -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head_ex.html -%}
    <body>
        {%- include header.html -%}
        <aside>
            <div style="text-align:center;">
                <script src="//adm.shinobi.jp/s/0b9802c86ff043840aefd09daaea9a30"></script>
            </div>
        </aside>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        <aside>
            <div style="text-align:center;">
                <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="05d97e92.20c6b886.07097bf2.3251e7c2";rakuten_items="ctsmatch";rakuten_genreId="0";rakuten_size="300x250";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="on";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1693313509643";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js?20230106"></script>
            </div>
        </aside>
        {%- include footer.html -%}
    </body>
</html>
