---
layout: default
---
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <div><a href="http://twitter.com/share?url=https://kenjiohtsuka.github.io/note{{ page.url }}&text={{ page.title }}&via=_kjot" target="_blank" rel="nofollow">Tweet</a></div>
    </header>
        <aside>
            <div style="text-align:center;">
                <script src="//adm.shinobi.jp/s/0b9802c86ff043840aefd09daaea9a30"></script>
            </div>
        </aside>
    <div class="post-content">
        {{ content }}
    </div>
        <aside>
            <div style="text-align:center;">
                <script src="//adm.shinobi.jp/s/bce14cde4bc76ea26acaf0cb8caeb0a4"></script>
            </div>
        </aside>
    <footer>
        <div><a href="http://twitter.com/share?url=https://kenjiohtsuka.github.io/note{{ page.url }}&text={{ page.title }}&via=_kjot" target="_blank" rel="nofollow">Tweet</a></div>
    </footer>
</article>
