---
layout: default
---
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <div><a href="http://twitter.com/share?url=https://kenjiohtsuka.github.io/note{{ page.url }}&text={{ page.title }}&via=_kjot" target="_blank" rel="nofollow">Tweet</a></div>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
    <footer>
        <div><a href="http://twitter.com/share?url=https://kenjiohtsuka.github.io/note{{ page.url }}&text={{ page.title }}&via=_kjot" target="_blank" rel="nofollow">Tweet</a></div>
    </footer>
</article>
